body {
    margin: 0;
    padding: 0;
    height: 100%
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Francois One', sans-serif;
    font-weight: bold;
}

/***************** NAVBAR DESKTOP ***************/

nav.nav-desktop {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    height: 80px;
    z-index: 2;
}

nav.nav-desktop .navbar-nav {
    padding-right: 200px;
}

nav.nav-desktop .nav-link {
    height: 100% !important;
}

.logomarca {
    position: relative;
    top: 50%;
    margin-top: -25px !important;
    padding-left: 200px !important;
    height: 40px !important;
}

nav.nav-desktop .nav-link {
    color: #ffffff !important;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    margin-right: 20px;
}

nav.nav-desktop .nav-link:hover {
    color: #1DB954 !important;
    text-shadow: 1px 1px 2px #333333;
}

nav.nav-desktop .btn-perfil {
    padding-left: 50px;
    vertical-align: middle;
}

nav.nav-desktop .btn-perfil:hover .svg-perfil, .btn-perfil:hover .dropdown-toggle {
    fill: #1DB954;
    text-shadow: 1px 1px 2px #333333;
}

nav.nav-desktop .svg-perfil {
    padding-right: 10px;
}

nav.nav-desktop .dropdown-item:hover {
    color: #1DB954 !important;
}

nav.nav-mobile {
    display: none;
}

.desativado {
    color: #999999 !important;
}


/***************** NAVBAR MOBILE ***************/

@media screen and (max-width:1050px) {
    .nav-desktop {
        /*background-color: #000000 !important;*/
        display: none !important;
    }

    nav.nav-mobile {
        display: block !important;
        position: fixed;
        width: 100%;
        top: 0;
        background-color: #000000;
        height: 60px;
        z-index: 2;
    }

    nav.nav-mobile .logomarca {
        position: relative;
        top: 50%;
        margin-top: -5px !important;
        padding-left: 70px !important;
        height: 30px !important;
    }

    .toggler-mobile {
        color: transparent;
        border-width: 0;
    }

    .svg-perfil-mobile:hover {
        fill: #1DB954 !important;
    }

    .lado-esquerdo {
        text-align: right;
        padding-right: 70px !important;
    }

    #navbarMobile {
        background-color: black;
        width: 100%;
        width: 50%;
        margin-left: 50%;
        text-align: right;
        padding-right: 50px;
        padding-top: 20px;
    }

    #navbarMobile .nav-link {
        padding-top: 10px;
        color: #ffffff;
        font-size: 15px;
        font-family: Roboto, sans-serif;
        margin-right: 20px;
    }

    #navbarMobile .nav-link:hover {
        color: #1DB954 !important;
    }
}

/******************** TELA INICIAL ************/

.back-grey {
    background-color: #E0E0E0;
    width: 100%;
    height: 700px;
}

.conteudo-fixo {
    text-align: center;
    top: 250px !important;
    z-index: 1 !important;
}

.txt-premium {
    font-size: 70px;
    color: #FFFFFF;
}

.btn-redondo {
    border-radius: 500px;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-premium {
    width: 350px;
    height: 50px;
    margin-top: 30px;
    background-color: #1DB954;
    color: #ffffff;
    border-width: 0;
}

.btn-premium:hover {
    transition-property: all;
    transition-duration: 0.8s;
    background-color: #1ED55F;
}

.feito-por, .feito-por span {
    font-size: 12px;
    margin-top: 150px;
    text-shadow: 1px 1px 2px #888888;
}

@media screen and (max-width:1000px) {
    .feito-por, .feito-por span {
        margin-top: 50px;
    }    
}

.feito-por span {
    text-decoration: underline;
}

.carousel {
    z-index: 0;
}

.conteudo {
    width: 100%;
    height: 700px;
}

.back-ace {
    height: 100%;
    max-height: 700px;
    width: 50%;
    margin-left: 50%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.img-wow {
    background-image: url('../img/wow.png');
}

.img-jun {
    background-image: url('../img/jun.png');
}

.img-bk {
    background-image: url('../img/bk.png');
}

.img-chan {
    background-image: url('../img/chan.png');
}

.img-dong {
    background-image: url('../img/dong.png');
}

/******************** TELA MUSICAS ************/

.back-white {
    background-color:#FFFFFF;
    width: 100%;
}

.intro-musica {
    margin-top: 10%;
    text-align: center;
}

.txt-musica {
    font-size: 50px;
    margin-bottom: 10px;
}

.txt-descricao {
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.btn-player {
    width: 300px;
    height: 50px;
    border-width: 2px;
    border-color: #616467;
    color: #616467;
    background-color: #FFFFFF;
    margin-bottom: 80px;
}

.btn-player:hover {
    transition-property: all;
    transition-duration: 0.5s;
    background-color: #616467;
    color: #FFFFFF;
    border-width: 0;
}

.musica {
    cursor: pointer;
    margin: 10px;
    max-width: 350px;
    width: 100%;
    height: 365px;
    box-shadow: 1px 1px 10px #CCCCCC;
    padding: 0 !important;
    z-index: 0;
}

.mus {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.mus1 {
    background-image: url('../img/imagem1.jpg');
}

.mus2 {
    background-image: url('../img/imagem2.jpg');
}

.mus3 {
    background-image: url('../img/imagem3.jpg');
}

.mus4 {
    background-image: url('../img/imagem4.jpg');
}

.mus5 {
    background-image: url('../img/imagem5.jpg');
}

.mus6 {
    background-image: url('../img/imagem6.jpg');
}

.oculto {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0; top: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.oculto:hover {
    transition-property: all;
    transition-duration: 0.2s;
    background-color: rgba(0,0,0,0.8);
}

.btn-musica {
    padding-top: 30%;
    display: none;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.oculto:hover .btn-musica {
    display: block;
}

.nome-musica {
    color: #FFFFFF;
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    font-size: 35px;
}

@media screen and (max-width:990px) {
    .nome-musica {
        font-size: 25px;
    }

    .nome-artista {
        font-size: 15px;
    }
}

.nome-artista {
    color: #919496;
    font-family: 'Tajawal', sans-serif;
}

.escute-agora {
    margin-top: 30px;
    text-transform: uppercase;
    color: #1ED55F;
    font-family: 'Tajawal', sans-serif;
    font-size: 18px;
}

.musicas {
    margin-bottom: 100px;
}

/******************** RODAPE ************/

.rodape {
    background-color: #000000;
    width: 100%;
    height: 200px;
}

.info-rodape {
    padding: 80px 200px 0 20px;
}

.btn-link {
    margin-right: 10px;
    display: block;
    background-color: #222326;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.svg-link {
    position: relative;
    top: 10px;
}

.btn-link:hover .svg-link {
    fill: #1DB954;
}